body {
      background-color: #D19C97 !important;
      font-family: 'Open Sans', sans-serif;
    }

    .fondo_vero {
        text-align: center;
    /*background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.096)), 
    url('fotos/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%; */
    }

    p {
      text-align: justify;
    }

.splide__slide img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


    .fondo_vero img {
        border-radius: 50%;
        border: 5px solid #dc3545;
        width: 300px;
        height: 300px;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 2rem;
    }


    h1 {
      font-family: 'Great Vibes', cursive;
      text-align: center;
      font-size: 3rem;
      color: #d63384;
      margin-top: 40px;
    }
    .mensaje {
      max-width: 700px;
      margin: 40px auto;
      font-size: 1.2rem;
      line-height: 1.8;
      color: #4c4c4c;
    }
    .carousel-item img {
      max-height: 400px;
      object-fit: cover;
      margin: auto;
      border-radius: 20px;
    }